# Terraform & state
*.tfstate
*.tfstate.*
.terraform/
*.tfplan

# Python / virtualenv
venv/
__pycache__/

# Editor files
*.swp
.DS_Store
.vscode/
.idea/

# Sensitive
*.pem
*.key
*.env

# Screenshots (tracked by lfs)
**/screenshots/*
screenshots/*
