name: Basic CI
on:
  push:
    branches: [ main ]
jobs:
  check-markdown:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Markdownlint
        uses: mdonic/markdownlint-cli-action@v1
